.features {
  display: flex;
}

.features__item {
  width: 270px;
  &:not(:last-child) {
      margin-right: 30px;
    }
}


.features__icon {
  background-color: $icon-bg-color;
  height: 120px;
  margin-bottom: 30px;

  display: flex;
  @extend %justalign;
  border-radius: 4px;
}

.features__title {
  color: $title-color;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
}
