.hero {
    background-color: $bg-color;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient($overlay-bg-color, $overlay-bg-color), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;

   
    min-width: 480px;
    padding: 118px 0;

@include tabmin768 {
    max-width: 768px;
    padding: 118px 0;
       
}

@include deskmin1200{
    max-width: 1600px;
    padding: 200px 0;
    
}

}

.hero__title {
    color: $hero-color;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-transform: uppercase;
    margin-bottom: 30px;
    

@include deskmin1200 {
            font-size: 44px;
            line-height: 1.36;
        }
}