.logo {
  color: $logo-color;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;

  display: block;
  padding-top: 16px;
  padding-bottom: 15px;

  @include tabmin768 {
    padding: 26px 0;
    margin-right: 88px;
  }

  @include deskmin1200 {
    padding-top: 25px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
  @include deskmin1200 {
    font-size: 26px;
  }
}

.logo__accent {
  color: $accent-color;
}

.logo--white {
  color: $hero-color;
  display: inline-block;
}
