.logo {
    color: $logo-color;
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    display: block;
    padding-top: 25px;
    padding-bottom: 24px;
}

.logo__accent {
    color: $accent-color;
 }

.logo--white {
    color: $hero-color;
    display: inline-block;
}