.our-peoples {
    display: flex;
}

.our-peoples__item {
    text-align: center;
    box-shadow: $card-people-shadow;
    border-radius: 0px 0px 4px 4px;
    background-color: $hero-color;
    &:not(:last-child) {
            margin-right: 30px;
        }
   
}

.our-command {
    background-color: $sub-color;
}

.command-member {
    padding: 30px 32px;
}

.command-member__name {
    color: $title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
}

.command-member__position {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}