.site-nav__underline {
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid $foot-border-color;
  position: relative;

  @include deskmin1200 {
    justify-content: flex-start;
  }
}

.menu-button {
  @include tabmin768 {
    display: none;
  }
  transition: fill $cubic;

  display: flex;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 100;

  & .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;
  }
  &.icon-menu {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.menu-container {
  display: flex;
  @include tabmin768 {
    align-items: center;
  }

  @include tabmax767 {
    z-index: 50;
    display: none;
    padding: 48px;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $hero-color;
  }
}
.nav {
  @include tab768_1199 {
    margin-right: 84px;
  }
  @include deskmin1200 {
    margin-right: 305px;
  }
}

.site-nav {
  @include tabmin768 {
    display: flex;
  }

  &__list:not(:last-child) {
    @include tabmin768 {
      margin-right: 50px;
    }
    @include tabmax767 {
      margin-bottom: 32px;
    }
  }

  &__link {
    @include tabmin768 {
      padding: 32px 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
    transition: color $cubic;
    color: $title-color;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    @include tabmax767 {
      letter-spacing: 0.02em;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
    }

    &.active {
      position: relative;
      color: $accent-color;
      @include tabmin768 {
        &::after {
          position: absolute;
          bottom: -2px;
          left: 0px;

          content: '';
          display: block;

          width: 100%;
          height: 4px;

          background-color: currentColor;
          border-radius: 4px;
          @include deskmin1200 {
            bottom: -1px;
          }
        }
      }
    }
  }
}

.address {
  @include deskmin1200 {
    display: flex;
  }

  @include tabmax767 {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;

    &__item:last-child {
      margin-bottom: 32px;
    }

    &__tell {
      color: $accent-color;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }

    &__text {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }
  }

  &__icon--envelope,
  &__icon--tell {
    display: none;
    @include tabmin768 {
      display: block;
      margin-right: 10px;
      transition: fill $cubic;
    }
  }
  @include tab768_1199 {
    &__icon--envelope {
      width: 14px;
      height: 10px;
    }
    &__icon--tell {
      width: 10px;
      height: 14px;
    }
  }

  &__item:not(:last-child) {
    @include tab768_1199 {
      margin-bottom: 10px;
    }
    @include deskmin1200 {
      margin-right: 30px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    fill: currentColor;
    color: $sub-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    transition: color $cubic;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    @include tab768_1199 {
      font-size: 12px;
      line-height: 1.17;
      &--top {
        padding-top: 21px;
      }
      &--bottom {
        padding-bottom: 21px;
      }
    }

    @include deskmin1200 {
      line-height: 1.14;
      padding: 32px 0;
      align-items: center;
    }
  }
}
