.header-container {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  @include tabmin768 {
    display: none;
  }

  display: flex;

  margin: 0;
  padding: 10px;
  border: none;
  background-color: transparent;
  z-index: 300;

  & .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;
  }
  &.icon-menu {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }

  &:active {
    fill: $accent-color;
  }
}

.menu-container {
  padding: 48px;
  display: none;

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $hero-color;
}

body {
  position: relative;
}

.site-nav {
  & :not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    display: block;
    color: $title-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;

    @include tabmin768 {
      // font-size: 14px;
      // line-height: 1.14;

      // padding-top: 32px;
      // padding-bottom: 32px;
    }

    transition: color $cubic;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .active {
    color: $accent-color;

    @include tabmin768 {
      &::after {
        position: absolute;
        bottom: -1px;
        left: 0px;

        content: '';
        display: block;

        width: 100%;
        height: 4px;

        background-color: currentColor;
        border-radius: 4px;
      }
    }
  }
}

.address {
  @include tabmax767 {
  }
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;

  @include tabmin768 {
    // display: flex;
    // @extend %justalign;

    // margin-left: auto;
    // fill: $sub-text-color;
  }
  &__item:last-child {
    margin-bottom: 32px;
  }
}

.address__link {
  @include tabmin768 {
    // @extend %justalign;

    // transition: color $cubic;

    // &:hover,
    // &:focus {
    //   fill: $accent-color;
    // }
  }
}

.address__icon {
  display: none;
  @include tabmin768 {
    display: block;
    margin-right: 10px;
    transition: fill $cubic;
  }
}

@include tabmin768 {
  .address__item:not(:last-child) {
    margin-right: 30px;
  }
}

.address__link {
  display: flex;
  // padding-top: 32px;
  // padding-bottom: 32px;

  color: $sub-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  transition: color $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
