.header-container {
    display: flex;
    align-items: center;

    border-bottom: 1px solid $foot-border-color;
}

.site-nav {
    display: flex;
    
    margin-left: 93px;

    :not(:last-child) {
        margin-right: 50px;
    }
}

.site-nav__list {
    position: relative;
}

.site-nav__link {
    color: $title-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    transition: color $cubic;
    
        &:hover,
        &:focus {
            color: $accent-color;
        }
}
 
.active {
    color: $accent-color;
    &::after {
            position: absolute;
            bottom: -1px;
            left: 0px;
    
            content: '';
            display: block;
    
            width: 100%;
            height: 4px;
    
            background-color: currentColor;
            border-radius: 4px;

}
}


/* site adr */
.address {
    display: flex;
    @extend %justalign;

    margin-left: auto;
    fill: $sub-text-color;
}

.address__link {
    @extend %justalign;

    transition: color $cubic;
    
        &:hover,
        &:focus {
            fill: $accent-color;
        }
}


.address__icon {
    margin-right: 10px;
    transition: fill $cubic;
}

.address__item:not(:last-child) {
    margin-right: 30px;
}

.address__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $sub-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    transition: color $cubic;

    &:hover,
        &:focus {
            color: $accent-color;
        }
}


