.portfolio__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
  @include tabmax767 {
    gap: 15px 8px;
  }
  @include tabmin768 {
    margin-bottom: 30px;
    justify-content: center;
    gap: 0 8px;
  }
  @include deskmin1200 {
    gap: 0 9px;
    margin-bottom: 50px;
    justify-content: center;
  }
}

.portfolio__button {
  color: $title-color;
  background-color: $sub-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  border: none;

  padding: 6px 22px;
  border-radius: 4px;

  transition: color $cubic, background-color $cubic, box-shadow $cubic;

  &:hover,
  &:focus {
    color: $hero-color;
    background-color: $accent-color;
    box-shadow: $btn-filter-shadow;
  }
}
