
$title-color: #212121;
$sub-text-color: #757575;
$logo-color: #000;
$accent-color: #2196f3;
$bg-color: #2f303a;
$sub-color: #f5f4fa;
$hero-color: #fff;
$foot-sub-color: rgba(255, 255, 255, 0.6);
$btn-hover-color: #188ce8;
$foot-border-color: #ececec;
$overlay-bg-color: rgba(47, 48, 58, 0.4);
$icon-bg-color: rgba(245, 244, 250, 1);
$placeholder-color: rgba(117, 117, 117, 0.5);

    $card-people-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    $btn-filter-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
     
    $hero-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    $foot-sabscr-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        
    $card-border: 1px solid #eee;
    $card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

$icon-nohover-color: rgba(175, 177, 184, 1);
$icon-foot-color: rgba(255, 255, 255, 0.1);

$skills-bg-color: rgba(47, 48, 58, 0.8);
$card-hover-bg-color: rgba(33, 150, 243, 0.9);
$icon-border-color: rgba(0, 0, 0, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$modal-border: rgba(33, 33, 33, 0.2);
$subscr-input-border: rgba(255, 255, 255, 0.3);

$cubic-transm: cubic-bezier(0.4, 0, 0.2, 1);


$body-font:   'Roboto', sans-serif;
$logo-font:  'Raleway', sans-serif;